* {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 4px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 24px;
  padding: 24px;
}

.container-team {
  border: 4px solid gray;
  margin: 24px;
  padding: 24px 24px 0px 24px;
}

.row {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.box {
  border: 4px solid gray;
  width: 100px;
  height: 100px;
}

.box-wrap {
  display: flex;
  align-items: center;
}

.box-small {
  border: 4px solid gray;
  width: 50px;
  height: 50px;

  margin-left: 24px;
}

.team-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-team {
  border: 4px solid gray;
  width: 30%;
  height: 100px;
  margin-bottom: 24px;
}

.title {
  border: 2px solid gray;
  width: 100%;
  height: 50px;
  margin-bottom: 24px;
}
